body {
 background-color: #000;
 color: #fff;
}
.hoverr{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 350px;
  height: 350px;
  overflow: hidden;
  transition: 0.7 ease;
}
